<h1 class="text-center">Comments</h1>

{{#if comments.length}}

	<div class="grid-container">

		{{#each comments}}

			<div>
				<div class="card border ">
					<div class="card-header">
						<div class="card-title h5">{{topic}}</div>
						<div class="card-subtitle text-gray">Author: {{author}}</div>
					</div>
					<div class="card-body"> {{text}}</div>
					<div class="card-footer">Rating: ({{rating}}/10)</div>
					<div><a href="/comment/update/{{id}}">Update</a></div>
					<form action="/comment/delete/{{id}}" method="POST">	
						<input type="submit" value="Delete">	
					</form>
				</div>
			</div>

		{{/each}}

	</div>

{{else}}

	<p>Sorry. At the moment no comments available!</p>

{{/if}}

<h1 class="text-center">Write a new comment</h1>

<form action="/comments/create" method="post">	
	<div>
		Author: <input type="text" name="author">
	</div>	
	<div>
		Topic: <input type="text" name="topic">
	</div>
	<div>
		Text: <input type="text" name="text">
	</div>
	<div>
		Rating: <input type="number" name="rating">
	</div>	
	<input type="submit" value="Create">	
</form>