<h1 class="text-center">Comments</h1>

<form action="/comments/create" method="GET">	
	<input type="submit" value="Create new comment">	
</form>
			
{{#if comments.length}}
	<div class="grid-container">
		{{#each comments}}
			<div>
				<div class="card border bg-gray ">
					<div class="card-header">
						<div class="card-title h5 bg-primary text-center">{{topic}}</div>
						<div class="card-subtitle text-gray">Author: {{author}}</div>
					</div>
					<div class="card-body"> {{text}}</div>
					<div class="card-footer text-center">
						<p class="bg-secondary">Rating: ({{rating}}/10)</p>	
					</div>				
					<div>
						{{#if ../session.isLoggedIn}}
							<form action="/comments/update/{{id}}" method="GET">	
								<input type="submit" value="Update">	
							</form>
							<form action="/comments/delete/{{id}}" method="POST">	
								<input type="submit" value="Delete">	
							</form>
						{{/if}}
					</div>
				</div>
			</div>
		{{/each}}
	</div>
{{else}}
	<p class="text-center">Sorry. At the moment no comments available!</p>
{{/if}}

