<h1 class="text-center">Comments</h1>

{{#if comments.length}}

	<div class="grid-container">

		{{#each comments}}

			<div>
				<div class="card border bg-gray ">
					<div class="card-header">
						<div class="card-title h5 bg-primary text-center">{{topic}}</div>
						<div class="card-subtitle text-gray">Author: {{author}}</div>
					</div>
					<div class="card-body"> {{text}}</div>
					<div class="card-footer text-center">
						<p class="bg-secondary">Rating: ({{rating}}/10)</p>	
					</div>				
					<div>
						<form action="/comment/update/{{id}}" method="GET">	
						<input type="submit" value="Update">	
						</div>
					</form>
					<form action="/comment/delete/{{id}}" method="POST">	
						<input type="submit" value="Delete">	
					</form>
				</div>
			</div>

		{{/each}}

	</div>

{{else}}

	<p>Sorry. At the moment no comments available!</p>

{{/if}}

<h1 class="text-center">Write a new comment</h1>

<form action="/comments/create" method="post">	
	<div>
		Author: <input type="text" name="author">
	</div>	
	<div>
		Topic: <input type="text" name="topic">
	</div>
	<div>
		Text: <textarea  name="text" placeholder="Write something.." style="height:200px"></textarea>
	</div>
	<div>
		Rating: <input type="number" min="1" max="10" name="rating">
	</div>	
	<input type="submit" value="Create">	
</form>