<h1 class="text-center">FAQ</h1>
<form action="/faq/create" method="GET">	
								<input type="submit" value="Create new FAQ">	
							</form>


<div class="accordion">

	{{#if faqs.length}}

		<div class="grid-container-faq">
		
			{{#each faqs}}

				<div>
					<div class="accordion lower-line-faq">
						<input type="radio" id="{{id}}" name="accordion-radio" hidden>
						<label class="accordion-header faq-header" for="{{id}}">
							<i class="icon icon-arrow-right mr-{{id}}"></i>
							#{{id}}: {{question}}
						</label>
						<div class="accordion-body faq-answer">
							{{answer}}
							<form action="/faq/delete/{{id}}" method="POST">	
								<input type="submit" value="Delete">	
							</form>
							<form action="/faq/update/{{id}}" method="GET">	
								<input type="submit" value="Update">	
							</form>

							

						</div>
						
					</div>
				</div>
			{{/each}}
		</div>
	</div>
	{{else}}

		We have no faq available at the moment. Sorry!

	{{/if}}

	