<h1 class="text-center">Sights</h1>
<form action="/sights/create" method="GET">	
								<input type="submit" value="Create new sight">	
							</form>


{{#if sights.length}}
	
	<div class="grid-container">
 
		{{#each sights}}
		
			<div>
				<div class="card border bg-gray">
					<div class="card-image margin">
   					 <img alt="Embedded Image" src="data:image/png;base64, {{image}}"  height="24%" width="60%" class="img-responsive p-centered">
 					 </div>
					<div class="card-header">
						<div class="card-title h5 bg-primary text-center"><a class="text-secondary" href="/sights/{{id}}">{{name}}</a></div>
						<div class="card-subtitle text-gray">{{city}}, {{country}}</div>
					</div>
					<div class="card-body">
						<p>The sight {{name}} is at location {{city}}, {{country}}.</p>
						<p class="bg-secondary text-center">For more information click on the header!</p>
					</div>
				</div>
			</div>

		{{/each}}

	</div>

{{/if}}
  