{{#if sight}}

	<h1>{{sight.name}}</h1>
	<h6>Location: {{sight.city}}, {{sight.country}}</h6>
	<p>{{sight.info}}</p>
	<form action="/sight/delete/{{sight.id}}" method="POST">	
		<input type="submit" value="Delete">	
	</form>
	<a href="/sight/update/{{sight.id}}">Update</a>

{{else}}

	<h1>Sight</h1>
	<p>That sight does not exist!</p>

{{/if}}