<div class="sight-box">

	{{#if errorMessages.length}}
	<div class="bg-primary">
	<p>Couldn't delete the FAQ because:</p>
	<ul>
		{{#each errorMessages}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
	</div>
{{/if}}

{{#if sight}}

	<h1>{{sight.name}}</h1>
	<h6>Location: {{sight.city}}, {{sight.country}}</h6>
	<img alt="Embedded Image" src="data:image/png;base64, {{sight.image}}" height="24%" width="60%" class="img-responsive p-centered">
	<p>{{sight.info}}</p>
	<form action="/sight/delete/{{sight.id}}" method="POST" >	
		<input type="submit" value="Delete">	
	</form>
	<form action="/sight/update/{{sight.id}}" method="GET" >	
		<input type="submit" value="Update">	
	</form>

{{else}}

	<h1>Sight</h1>
	<p>That sight does not exist!</p>

{{/if}}

</div>