<h1>Update Comment</h1>

{{#if errorMessages.length}}
	<div class="bg-primary">
		<p>Couldn't {{operation}} the comment because:</p>
		<ul>
			{{#each errorMessages}}
				<li>{{this}}</li>
			{{/each}}
		</ul>
	</div>
{{/if}}

<form method ="POST">
	<div>
		<div>
			Author: <input type="text" name="author" value="{{comment.author}}">
		</div>
		<div>
			Topic: <input type="text" name="topic" value="{{comment.topic}}">
		</div>
		<div>
			Comment: <textarea  type="text" name="text"  style="height:200px">{{comment.text}}</textarea>	
		</div>
		<div>
			Rating: <input type="number" name="rating" value="{{comment.rating}}">
		</div>
			<input type="submit"  value="Update">
	</div>
</form>